@import '../skeleton/variables';
@import '../skeleton/fonts';

.block-footer {
    text-align: center;
    display: flex;
    justify-content: center;

    &__text {
        @include text();
        color: $white;
        font-weight: 400;
    }

    &__link {
        color: $white;
        font-weight: 400;
    }
}
