@import '../skeleton/variables';
@import '../skeleton/fonts';
@import '../skeleton/buttons';

.block-portfolio {
    &__title {
        @include h2();
        margin-bottom: 4vw;
        text-align: center;
    }

    &__category-item {
        background-color: $grey;
        border-radius: $standard-border-radius;
        margin-bottom: 3em;
        display: flex;
        align-items: flex-start;
        box-shadow: $standard-box-shadow;
        margin: 1.5em;
        overflow: hidden;
        height: 35em;
        cursor: pointer;
        z-index: 0;
        position: relative;

        &__image {
            width: 8.4em;
            background-color: $white;
            border-radius: 100%;
            margin-right: 3.5em;
            position: absolute;
        }

        &:hover > &__content {
            top: 0;
        }

        &__content {
            top: 100%;
            position: relative;
            transition: all .2s ease-out;
            background-color: rgba(0, 0, 0, 0.8);
            height: 100%;
            width: 100%;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        &__title {
            @include text();
            color: $white;
            margin-top: 3em;
            padding-left: 1em;
            padding-right: 1em;
            font-size: 3.5em;
            font-weight: bold;
            text-align: center;
        }

        &__view-text {
            @include text();
            color: $white;
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
