@import './variables';

@mixin button() {
    border-radius: 100px;
	border: none;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.15em 1em;
	box-shadow: $standard-box-shadow;
	font-size: 2em;
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin button-primary() {
    background: $light-blue;
    background: -moz-linear-gradient(-45deg, $light-blue 0%, $blue 58%, $blue 85%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, $light-blue 0%,$blue 58%,$blue 85%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, $light-blue 0%,$blue 58%,$blue 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: $white;
}

@mixin button-secondary() {
    background: $white;
    color: $dark-grey;
}

@mixin button-tertiary() {
    background: $grey;
    color: $dark-grey;
}
