@import '../skeleton/variables';

.img-wrapper {
	position: absolute;

	img.img-src {
		position: absolute;
	}

	img.frame {
		position: absolute;
	}
}

.large-img-wrapper {
	position: relative;
	flex-shrink: 0;

	&.left {
		margin-right: 3em;
		transform-origin: top left;
	}

	&.right {
		margin-left: 3em;
		transform-origin: top right;
	}

	&.center {
		margin-bottom: 3em;
	}

	&.img-wrapper.iphone.lg {
		transform: scale(1.2);
		width: 146px;
		height: 295px;
	}
}

.img-wrapper.iphone {
	width: 122px;
	height: 245px;

	&.center {
		left: 50%;
    	transform-origin: left;
	}

	&.center-full {
		left: 50%;
    	transform-origin: left;
	}

	img.img-src {
		width: 107px;
		z-index: 0;
		left: 7.5px;
		top: 6.5px;
		border-radius: 7px;
	}

	img.frame {
		height: 245px;
		width: 122px;
	}
}

.img-wrapper.ipad-portrait {
	width: 188px;
	height: 245px;

	&.center {
		left: 50%;
		transform-origin: left;
	}

	&.center-full {
		left: 50%;
		transform-origin: left;
	}

	img.img-src {
		height: 229px;
		top: 8px;
		left: 8px;
	}

	img.frame {
		height: 245px;
		width: 188px;
	}
}

.img-wrapper.ipad-landscape {
	width: 245px;
	height: 188px;

	img.img-src {
		width: 229px;
		top: 8px;
		left: 8px;
	}

	img.frame {
		height: 188x;
		width: 245px;
	}
}

.img-wrapper.macbook {
	width: 160px;
	height: 95px;

	&.center-full {
		left: 50%;
		transform-origin: left;
	}

	img.img-src {
		width: 122px;
		top: 6.4px;
		left: 19px;
	}

	img.frame {
		height: 95px;
		width: 160px;
	}
}

.img-wrapper.imac {
	height: 155px;
	width: 160px;

	&.center-full {
		left: 50%;
		transform-origin: left;
	}

	img.img-src {
		width: 148px;
		top: 18px;
		left: 6px;
	}

	img.frame {
		height: 155px;
		width: 160px;
	}
}

.img-wrapper.pdf {
	width: 140px;

	&.center-full {
		left: 50%;
		transform-origin: left;
	}

	&.center {
		left: 50%;
		transform-origin: left;
	}

	img.img-src {
		width: 140px;
	}
}

//Extra small devices (tablets, 576px and up)
@media (max-width: 575px) {
	.round-container .img-wrapper.iphone {
		&.center {
			transform: translateX(-50%);
			margin-top: 7em;
		}
		&.center-full {
			transform: scale(0.8) translateX(-50%);
			margin-top: -2.8em;
		}
	}

	.round-container .img-wrapper.ipad-portrait {
		&.center-full {
			transform: scale(0.8) translateX(-50%);
			margin-top: -2.85em;
		}
		&.center {
			transform: translateX(-50%);
			margin-top: 1em;
		}
	}

	.round-container .img-wrapper.ipad-landscape {
		&.right {
			margin-top: 1.8em;
			float: right;
			right: -9.2em;
		}
		&.left {
			margin-top: 1.8em;
			float: left;
			left: -9.2em;
		}
	}

	.round-container .img-wrapper.macbook {
		&.right {
			float: right;
			right: -10em;
			transform: scale(2.05);
			margin-top: 9.7em;
		}

		&.left {
			float: left;
			left: -10em;
			transform: scale(2.05);
			margin-top: 9.7em;
		}

		&.center-full {
			transform: scale(1.2) translateX(-50%);
			margin-top: 9.5em;
		}
	}

	.round-container .img-wrapper.imac {
		&.center-full {
			margin-top: 4.5em;
			transform: scale(1.2) translateX(-50%);
		}
	}

	.round-container .img-wrapper.pdf {
		&.center-full {
			transform: scale(0.93) translateX(-50%);
			margin-top: 1.8em;
		}

		&.center {
			transform: scale(1.2) translateX(-50%);
			margin-top: 5em;
		}
	}
}

//Small devices (tablets, 576px and up)
@media (min-width: 576px) {
	.round-container .img-wrapper.iphone {
		&.center {
			transform: translateX(-50%);
			margin-top: 7em;
		}
		&.center-full {
			transform: scale(0.8) translateX(-50%);
			margin-top: -2.8em;
		}
	}

	.round-container .img-wrapper.ipad-portrait {
		&.center-full {
			transform: scale(0.8) translateX(-50%);
			margin-top: -2.85em;
		}
		&.center {
			transform: scale(0.8) translateX(-50%);
		}
	}

	.round-container .img-wrapper.ipad-landscape {
		&.right {
			transform: scale(1.05);
			margin-top: 1.85em;
			right: -14.3em;
			float: right;
		}
		&.left {
			transform: scale(1.05);
			margin-top: 1.85em;
			left: -14.3em;
			float: left;
		}
	}

	.round-container .img-wrapper.macbook {
		&.right {
			transform: scale(2.1);
			margin-top: 9.9em;
			float: right;
			right: -12.8em;
		}

		&.left {
			transform: scale(2.1);
			margin-top: 9.9em;
			float: left;
			left: -12.8em;
		}

		&.center-full {
			transform: translateX(-50%);
			margin-top: 9.5em;
		}
	}

	.round-container .img-wrapper.imac {
		&.center-full {
			transform: translateX(-50%);
			margin-top: 5em;
		}
	}

	.round-container .img-wrapper.pdf {
		&.center-full {
			margin-top: 1.8em;
			transform: scale(0.94) translateX(-50%);
		}

		&.center {
			margin-top: 4.7em;
			transform: translateX(-50%);
		}
	}
}

//Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.round-container .img-wrapper.iphone {
		&.center {
			transform: scale(1.2) translateX(-50%);
			margin-top: 9em;
		}
		&.center-full {
			transform: scale(0.95) translateX(-50%);
			margin-top: 0em;
		}
	}

	.round-container .img-wrapper.ipad-portrait {
		&.center-full {
			transform: scale(0.96) translateX(-50%);
			margin-top: 0em;
		}
		&.center {
			transform: scale(1.1) translateX(-50%);
			margin-top: 4em;
		}
	}

	.round-container .img-wrapper.ipad-landscape {
		&.right {
			transform: scale(1.2);
			margin-top: 4em;
			float: right;
			right: -4.8em;
		}
		&.left {
			transform: scale(1.2);
			margin-top: 4em;
			float: left;
			left: -4.8em;
		}
	}

	.round-container .img-wrapper.macbook {
		&.right {
			transform: scale(2.5);
			margin-top: 11em;
			float: right;
			right: -6.5em;
		}
		&.left {
			transform: scale(2.5);
			margin-top: 11em;
			float: left;
			left: -6.5em;
		}
		&.center-full {
			margin-top: 11em;
			transform: scale(1.4) translateX(-50%);
		}
	}

	.round-container .img-wrapper.imac {
		&.center-full {
			transform: scale(1.4) translateX(-50%);
			margin-top: 6.5em;
		}
	}

	.round-container .img-wrapper.pdf {
		&.center-full {
			margin-top: 1.8em;
			transform: scale(1.1) translateX(-50%);
		}

		&.center {
			transform: scale(1.4) translateX(-50%);
			margin-top: 5.7em;
		}
	}
}

//Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.round-container .img-wrapper.iphone {
		&.center {
			transform: scale(1.5) translateX(-50%);
			margin-top: 13em;
		}
		&.center-full {
			transform: scale(1.2) translateX(-50%);
			margin-top: 4em;
		}
	}

	.round-container .img-wrapper.ipad-portrait {
		&.center-full {
			transform: scale(1.2) translateX(-50%);
			margin-top: 3.9em;
		}

		&.center {
			transform: scale(1.4) translateX(-50%);
			margin-top: 8em;
		}
	}

	.round-container .img-wrapper.ipad-landscape {
		&.right {
			transform: scale(1.55);
			margin-top: 7em;
			float: right;
			right: 0em;
		}

		&.left {
			transform: scale(1.55);
			margin-top: 7em;
			float: left;
			left: 0em;
		}
	}

	.round-container .img-wrapper.macbook {
		&.right {
			transform: scale(3.2);
			margin-top: 12.6em;
			float: right;
			right: -2.75em;
		}
		&.left {
			transform: scale(3.2);
			margin-top: 12.6em;
			float: left;
			left: -2.75em;
		}
		&.center-full {
			margin-top: 12.5em;
			transform: scale(1.8) translateX(-50%);
		}
	}

	.round-container .img-wrapper.imac {
		&.center-full {
			transform: scale(1.9) translateX(-50%);
			margin-top: 9em;
		}
	}

	.round-container .img-wrapper.pdf {
		&.center-full {
			margin-top: 1.8em;
			transform: scale(1.4) translateX(-50%);
		}
		&.center {
			transform: scale(1.8) translateX(-50%);
			margin-top: 6.7em;
		}
	}
}

//Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.round-container .img-wrapper.iphone {
		&.center {
			transform: scale(1.8) translateX(-50%);
			margin-top: 15em;
		}
		&.center-full {
			transform: scale(1.35) translateX(-50%);
			margin-top: 5.2em;
		}
	}

	.round-container .img-wrapper.ipad-portrait {
		&.center-full {
			transform: scale(1.35) translateX(-50%);
			margin-top: 5.3em;
		}
		&.center {
			transform: scale(1.6) translateX(-50%);
			margin-top: 10em;
		}
	}

	.round-container .img-wrapper.ipad-landscape {
		&.right {
			transform: scale(1.7);
			margin-top: 8em;
			float: right;
			right: 4em;
		}

		&.left {
			transform: scale(1.7);
			margin-top: 8em;
			float: left;
			left: 4em;
		}
	}

	.round-container .img-wrapper.macbook {
		&.right {
			transform: scale(3.6);
			margin-top: 12.9em;
			float: right;
			right: 1.25em;
		}
		&.left {
			transform: scale(3.6);
			margin-top: 12.9em;
			float: left;
			left: 1.25em;
		}
		&.center-full {
			transform: scale(2.3) translateX(-50%);
			margin-top: 13em;
		}
	}

	.round-container .img-wrapper.imac {
		&.center-full {
			transform: scale(2.3) translateX(-50%);
			margin-top: 9.6em;
		}
	}

	.round-container .img-wrapper.pdf {
		&.center {
			transform: translateX(-50%);
			transform: scale(1.67) translateX(-50%);
		}

		&.center-full {
			margin-top: 1.8em;
			transform: scale(1.56) translateX(-50%);
		}
	}
}
