@import './variables';
@import './fonts';
@import './buttons';

.filterable-content {
    &__category-container {
        display: flex;
        justify-content: space-between;

        @media(max-width: 565px) {
            flex-wrap: wrap;
        }
    }

    &__left {
        @media(max-width: 565px) {
            align-self: center;
            text-align: center;
            margin: 3em;
            flex-basis: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    &__right {
        flex-basis: 75%;
        display: flex;
        flex-wrap: wrap;
        margin: -1.5em;

        @media(max-width: 565px) {
            flex-basis: 100%;
            margin-left: 0em;
            margin-right: 0em;
        }

        .--portfolio & {
            @media(max-width: 415px) {
                max-width: 40em;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__category-selector {
        list-style: none;
        padding: 0em;
        margin: 0em;
        cursor: pointer;
    }

    &__category-label {
        @include text();
        margin-top: -.3em;
        margin-bottom: 1em;
        font-weight: 400;
    }

    &__category {
        @include text();
        margin: 0em 0em 1em .94em;

        @media(max-width: 565px) {
            margin-left: 0em;
        }

        &.--active {
            @include button();
            @include button-primary();
            margin-left: 0em;
            pointer-events: none;
        }
    }
}
